[submodule "roles/ansible-role-aem-security-test"]
	path = roles/ansible-role-aem-security-test
	url = git@github.com:aemdesign/ansible-role-aem-security-test.git
[submodule "roles/ansible-role-aem-verify"]
	path = roles/ansible-role-aem-verify
	url = git@github.com:aem-design/ansible-role-aem-verify.git
[submodule "roles/ansible-role-aem-toughday"]
	path = roles/ansible-role-aem-toughday
	url = git@github.com:aem-design/ansible-role-aem-toughday.git
[submodule "roles/ansible-role-aem-license"]
	path = roles/ansible-role-aem-license
	url = git@github.com:aem-design/ansible-role-aem-license.git
[submodule "roles/ansible-role-aem"]
	path = roles/ansible-role-aem
	url = git@github.com:aem-design/ansible-role-aem.git
[submodule "roles/ansible-role-config-iptables"]
	path = roles/ansible-role-config-iptables
	url = git@github.com:aem-design/ansible-role-config-iptables.git
[submodule "roles/ansible-role-aem-package"]
	path = roles/ansible-role-aem-package
	url = git@github.com:aem-design/ansible-role-aem-package.git
[submodule "roles/ansible-role-dispatcher"]
	path = roles/ansible-role-dispatcher
	url = git@github.com:aem-design/ansible-role-dispatcher.git
[submodule "roles/ansible-role-selenium-grid-node"]
	path = roles/ansible-role-selenium-grid-node
	url = git@github.com:aem-design/ansible-role-selenium-grid-node.git
[submodule "roles/ansible-role-selenium-grid"]
	path = roles/ansible-role-selenium-grid
	url = git@github.com:aem-design/ansible-role-selenium-grid.git
[submodule "roles/ansible-role-docker-login"]
	path = roles/ansible-role-docker-login
	url = git@github.com:aem-design/ansible-role-docker-login.git
[submodule "roles/ansible-role-docker-available"]
	path = roles/ansible-role-docker-available
	url = git@github.com:aem-design/ansible-role-docker-available.git
[submodule "roles/ansible-role-jenkins"]
	path = roles/ansible-role-jenkins
	url = git@github.com:aem-design/ansible-role-jenkins.git
[submodule "roles/ansible-role-nexus"]
	path = roles/ansible-role-nexus
	url = git@github.com:aem-design/ansible-role-nexus.git
[submodule "roles/ansible-role-nexus-api"]
	path = roles/ansible-role-nexus-api
	url = git@github.com:aem-design/ansible-role-nexus-api.git
